# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Training outputs
out/
checkpoint/
checkpoints/

# Experiment logs
wandb/
swanlab/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data and Model files
dataset/short_wav/
*.parquet
*.jsonl
*.pth
*.bin
speech_model/
vision_model/